<div class="row food-latest col-md-12">
	Latest Post
</div>

<a href="/food/<%= food[0].id %>">
	<div class="row">
		<div class="col-md-12 food-item">
			<div class="food-date"><%= food[0].Date %></div>
			<div class="food-title"><%= food[0].Restaurant %></div>
			<img src="<%= food[0].img %>" class="food-image">
			<div class="food-blurb"><%= food[0].Blurb%></div>
		</div>
	</div>
</a>

<div class="row food-latest col-md-12">
	Older Posts
</div>

<% for (var i=1; i<food.length; i++) { %>
	<a href="/food/<%= food[i].id %>">
		<div class="row">
			<div class="col-md-12 food-item">
				<div class="food-date"><%= food[i].Date %></div>
				<div class="food-title"><%= food[i].Restaurant %></div>
				<img src="<%= food[i].img %>" class="food-image">
				<div class="food-blurb"><%= food[i].Blurb%></div>
			</div>
		</div>
	</a>
<% } %>